// Variables Sass

// Colors
$color-blue: #0f3460;
$color-red: #e94560;
$color-dark-blue: #1a1a2e;
$color-yellow: #ffc300;
$color-white: #f0f0f0;


// Buttons 
$btn-padding-vertical: 10px;
$btn-padding-horizontal: 15px;
$btn-border-radius: 999px;
$btn-background-color: $color-blue;
$btn-text-color: $color-white;
$btn-border-color: $color-yellow;
$btn-box-shadow: var(--box-shadow-md);


// Border radius
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 30px;
$border-radius-picture: 10px;
$border-width: 4px;
$border-radius-picture: 10px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 40px;

// Box shadows
$box-shadow-sm: 0px 0px 10px 32px rgba(0, 0, 0, 0.15);
$box-shadow-md: 0px 2px 6px rgba(0, 0, 0, 0.2);
$box-shadow-lg: 0px 5px 15px rgba(0, 0, 0, 0.2);

// Typography
$font-primary: "Arial",
sans-serif;
$font-secondary: "Audiowide",
sans-serif;
$font-size-xs: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-h1: 70px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-body: 16px;

// Transitions
$transition-fast: 0.3s ease;
$transition-normal: 0.5s ease;
$transition-slow: 1s ease;


:root {
  // Colors
  --color-blue: #0f3460;
  --color-white: #f0f0f0;
  --color-dark-blue: #1a1a2e;
  --color-red: #e94560;
  --color-yellow: #ffc300;

  /* Border radius */
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 30px;
  --border-radius-picture: 10px;
  --border-width: 4px;

  /* Border color */
  --border-groove: groove var(--color-yellow);

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;

  /* Box shadow */
  --box-shadow-sm: 0px 0px 10px 32px rgb(0 0 0 / 15%);
  --box-shadow-md: 0px 2px 6px rgba(0, 0, 0, 0.2);
  --box-shadow-lg: 0px 5px 15px rgba(0, 0, 0, 0.2);

  /* Fonts */
  --font-primary: "Arial", sans-serif;
  --font-secondary: "Audiowide", sans-serif;
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.5rem;
  --font-size-h1: 70px;
  --font-size-h2: 40px;
  --font-size-h3: 30px;
  --font-size-body: 16px;

  /* Transitions */
  --transition-fast: 0.3s ease;
  --transition-normal: 0.5s ease;
  --transition-slow: 1s ease;

  /* Sizes */
  --container-max-width: 1200px;
  --form-width: 500px;
}