.button {
  padding: $btn-padding-vertical $btn-padding-horizontal;
  outline: none;
  border: $border-width solid $btn-border-color;
  background-color: $btn-background-color;
  color: $btn-text-color;
  font-family: $font-secondary;
  border-radius: $btn-border-radius;
  box-shadow: $box-shadow-md;
  transition: all $transition-normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: $color-red;
    transform: scale(1.1);
    box-shadow: $box-shadow-lg;
  }

  &--primary {
    @extend .button;
    background-color: $color-blue;
  }

  &--secondary {
    @extend .button;
    background-color: $color-red;
  }
}