.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.mainContent {
  padding: var(--spacing-xl) 0;
  background-color: var(--color-dark-blue);
}
// main {
//   padding: var(--spacing-sm);
// }

section {
  margin-bottom: var(--spacing-lg);
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--spacing-sm);
  }
  main {
    padding: var(--spacing-sm);
  }
}
