main {
  min-height: calc(80vh - $spacing-md);
  background-color: $color-dark-blue;
  padding: $spacing-xl $spacing-md
}

.intro {
  text-align: center;
  color: $color-white;
  ;
  margin-bottom: $spacing-xl;


  h2 {
    font-family: $font-secondary;
    font-size: $font-size-h2;
    margin-bottom: $spacing-md;

  }

  p {
    font-family: var(--font-primary);
    font-size: $font-size-md;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;

  }

}

.contact {
  &-form-container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: $color-white;
    padding: $spacing-lg;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-md;
    position: relative;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $spacing-md;
    padding: 0;

    h3 {
      font-family: $font-secondary;
      font-size: $font-size-h3;
      color: $color-dark-blue;
      margin: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-left: $spacing-md;
  }

  .form-group {
    margin-bottom: $spacing-md;

    label {
      display: block;
      margin-left: $spacing-md;
      font-family: $font-secondary;
      font-size: $font-size-sm;
      margin-bottom: $spacing-xs;
      color: $color-dark-blue;
    }

    input,
    textarea {
      width: 100%;
      padding: $spacing-sm;
      font-size: $font-size-sm;
      font-family: $font-primary;
      border: 1px solid #ccc;
      border-radius: $border-radius-sm;
      box-sizing: border-box;
    }

    textarea {
      resize: vertical;
      min-height: 100px;
    }

  }

}

.icon-container {
  width: 80px;
  flex-shrink: 0;
}

.contact-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: $border-width groove $color-yellow;
  object-fit: cover;
  margin-right: $spacing-sm;
  margin-left: $spacing-md;
}

.text-container {
  flex: 1;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: $spacing-md;
}

a,
button {
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact-form-container {
    max-width: 90%;
    padding: $spacing-sm;
  }

  .intro {
    h2 {
      font-size: $font-size-lg;
    }

    p {
      font-size: $font-size-sm;
    }
  }
}