main {
    min-height: calc(80vh - 20px);
    background-color: var(--color-dark-blue);
    padding: 40px 20px;
  }
  
  
  .intro {
    text-align: center;
    color: var(--color-white);
    margin-bottom: 40px;
  }
  
  .intro h2 {
    font-family: var(--font-secondary);
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  .contact .contact-form-container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--color-white);
    padding: 30px;
    border-radius: var(--border-radius-sm);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
 
  .contact .contact-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .icon-container {
    width: 80px;
    flex-shrink: 0;
  }
  
  .contact-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px groove var(--color-yellow);
    object-fit: cover;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .text-container {
    flex: 1;
    text-align: center;
  }
  
  .contact .contact-header h3 {
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    color: var(--color-dark-blue);
    margin: 0;
  }
  
 
  .contact form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .contact .form-group {
    margin-bottom: 20px;
  }
  
  .contact .form-group label {
    display: block;
    margin-left: 20px;
    font-family: var(--font-secondary);
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--color-dark-blue);
  }
  
  .contact .form-group input,
  .contact .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--font-primary);
    border: 1px solid #ccc;
    border-radius: var(--border-radius-sm);
    box-sizing: border-box;
  }
  
  .contact .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
 
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  a, button {
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
    .contact .contact-form-container {
      max-width: 90%;
      padding: 15px;
    }
    
    .intro h2 {
      font-size: 1.8rem;
    }
    
    .intro p {
      font-size: 1rem;
    }
  }