.intro {
  text-align: center;
  color: $color-white;
  margin-bottom: $spacing-xl;

  h2 {
    font-family: $font-secondary;
    font-size: $font-size-h2;
    margin-bottom: $spacing-md;

  }

  p {
    font-size: $font-size-md;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    font-family: $font-primary;
  }

}